---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/DARK_SKY_KEY/39.7392358,-104.990251,583278688?exclude=flags,minutely
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 449ms
      X-Forecast-Api-Calls:
      - '54'
      X-Response-Time:
      - 177.961ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":583278688,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0194,"precipProbability":0.11,"precipType":"rain","temperature":70.48,"apparentTemperature":70.5,"dewPoint":60.12,"humidity":0.7,"pressure":1017.7,"windSpeed":8.12,"windBearing":312,"cloudCover":0.92,"uvIndex":4,"visibility":10},"hourly":{"summary":"Rain
        in the afternoon and evening.","icon":"rain","data":[{"time":583221600,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":72.37,"apparentTemperature":72.37,"dewPoint":53.96,"humidity":0.52,"pressure":1010.6,"windSpeed":6.93,"windBearing":168,"cloudCover":0.25,"uvIndex":0,"visibility":10},{"time":583225200,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":71.25,"apparentTemperature":71.25,"dewPoint":53.05,"humidity":0.53,"pressure":1011.5,"windSpeed":9.18,"win[...]
